body {
    background-color: lightblue;
    
  }

h1 {
    text-align: center;
    padding: 8px;
    background-color: peru;
    display: block;
    width: 400px;
    margin: 0 auto; 
}

ul {
    font-style: italic;
}

.odd {
    background-color: aquamarine;
}

li {
    width: 400px;
    margin: 10px;
}

img {
    display: block;
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 10px;
}